name: Build Home Assistant Add-on

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: home-assistant/builder@2024.03.5
        with:
          args: |
            --target .
            --aarch64
            --armv7
            --amd64
